---
type Props = {
  key: "Noel" | "Diego";
  value: string;
};

const { key, value } = Astro.props;
---

<form
  hx-encoding="multipart/form-data"
  hx-post="/api/vote"
  hx-target={`#${key}-count`}
  class="w-full text-center"
>
  <input hidden name="key" value={key} />

  <p class="text-4xl">{key}</p>

  <p id={`${key}-count`} class="pb-5 pt-2 text-6xl font-bold">{value}</p>

  <button type="submit" class="rounded border px-5 py-1">Vote</button>
</form>
